<% content_for(:title, "Seasons") %>

<h2>Seasons</h2>

<ul>
  <li><%= link_to "New Season", new_season_path %></li>
  <li><%= link_to "Join Season", new_validate_join_code_form_path %></li>
</ul>

<% if @seasons.any? %>
  <% @seasons.each do |season| %>
    <div>
      <%= link_to season.name, season %> - <%= season.workflow_state.humanize %>
      (Created <%= time_ago_in_words(season.created_at) %> ago)
    </div>
  <% end %>
<% else %>
  <div>No seasons found.</div>
<% end %>
