<% content_for(:title, "Create New Season") %>

<h2>Create New Season</h2>

<%= form_with model: @create_season_form do |f| %>
  <%= render "shared/errors", model: @create_season_form %>

  <p>
    <%= f.label :team_code %><br>
    <%= f.select :team_code, options_for_select(Team::TEAM_CODES.map { |code| [code, code] }, @create_season_form.team_code), { prompt: "Select your team" } %>
  </p>

  <p>
    <%= f.submit "Create Season" %>
  </p>
<% end %>