<%= turbo_frame_tag "players" do %>
  <table>
    <thead>
      <tr>
        <th>Position</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Overall</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% players.each do |player| %>
        <tr>
          <td><%= player.position %></td>
          <td><%= player.first_name %></td>
          <td><%= player.last_name %></td>
          <td><%= player.overall %></td>
          <td><%= player.team&.name || 'Free Agent' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= will_paginate players %>
  </div>
<% end %>